<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Opret produkt</title>
</head>
<body>
<h1>Opret product</h1>

<form action="/create" method="post">
    <input type="text" name="idproduct" placeholder="id">
    <input type="text" name="productName" placeholder="navn">
    <input type="text" name="productPrice" placeholder="pris">
    <input type="submit" value="send">
</form>
</body>
</html>